<div class="panel-wrapper" style="max-width:545px">
         <h3 class="tableForPrint">Provider-Agent Assignment</h3>
<div class="panel panel-default">
	<div class="panel-body tableForPrint">
		<div class="panel panel-default">
			<!--	<div class="row">
				<div *ngIf="isSaveSuccessful" class="alert alert-success alert-white rounded col-md-3">
						<button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
						<div class="icon">
							<i class="fa fa-check"></i>
							<strong>{{saveMessage}}</strong>
						</div>
					</div>
				</div>-->
			<div class="container-fluid">
				<div class="row">
					<div>
						<table class="table table-bordered table-hover" style="width:500px;">
<thead class="queuing-head">
	<tr>
		<th class="">Provider's Last Name starts with</th>
		<th>Assign Agent</th>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let pdrAgent of pdrAgents">
		<td style="text-align:center">{{pdrAgent.PDR_ID}}</td>
<td>
	<select class="form-control input-sm form-fixer" [ngModelOptions]="{standalone: true}" [(ngModel)]="pdrAgent.User_ID">
                         <option *ngFor="let user of users" [selected]="user.User_ID == pdrAgent.User_ID"
                        [value]="user.User_ID">
                            {{user.fullName}}
                         </option>
                    	</select>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="row" style="padding-bottom:10px">
<div class="col-md-3 col-md-offset-5">
	<button class="btn btn-danger" (click)="saveUpsertPDRAgent()">SAVE</button>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal  fade in" id="assignAgentSaveSuccessful" [ngClass]="{'display-block': assignAgentSaveSuccessful}">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" (click)="refreshPage()">&times;</button>
				<h3>Confirmation</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success alert-white">
					Record Updated Successfully.
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" (click)="refreshPage()">OK</button>
			</div>
		</div>
	</div>
</div>